@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: black;
}

#root {
  height: 100%;
  width: 100%;
}

/* Add these styles to remove the yellow autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}